/*      

        INICIO DE ESTILIZAÇÃO BASE

*/

* {
    background-color: rgb(19, 18, 18);
    color: azure;
}

.container-base {
    margin: 5%;
    background-color: rgb(41,36,36);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    border-radius: 0.6rem;
}

/*      
        FIM DE ESTILIZAÇÃO BASE
        INICIO DE ESTILIZAÇÃO CHECKBOX

*/

.container-mural {
    margin: 5%;
    background-color: rgb(41,36,36);
    display: flex;
    gap: 10px;
    flex-basis: calc(48% - 10%);
    padding: 2rem;* {
        background-color: black;
        color: azure;
    }
    
    .container-base {
        margin: 5%;
        background-color: rgb(41,36,36);
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }
    
    .container-mural {
        margin: 5%;
        background-color: rgb(41,36,36);
        display: flex;
        padding: 2rem;
        flex-basis: calc(40% - 10%); /* New flex-basis property */
    }
    
    .container-table {
        margin: 5%;
        background-color: rgb(255, 255, 255);
        display: flex;
        padding: 2rem;
    }
    
    .container-base > .container-mural,
    .container-base > .container-table {
        margin: 10px;
    }
    
    #boxes {
        width: calc(100% - 20%);
        height: calc(100% - 20%);
        margin: 0;
        aspect-ratio: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 2rem;
    }
}

.container-table {
    margin: 5%;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 2rem;   
}

.container-base > .container-mural,
.container-base > .container-table {
    margin: 10px;
}

#boxes {
    width: 30%;
    height: 30%;
    font-size: 1.5rem;
    flex-direction: column;
    display: flex;
    padding: 2rem;
}

#boxes h4 {
    font-size: 1.5rem;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    background-color: transparent;
}

#boxes p {
    background-color: transparent;
    
}

.box1 {
    background: white;

}

.box1 img {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    opacity: 0.3;
}

.box2 {
    background: #256AC6;
}

.box3 {
    background: #FFA317;
}

.box4 {
    background: #00BF63;
}

.box5 {
    background: #737373;
}

.box6 {
    background: #FF3131;
}


/*      
        FIM DE ESTILIZAÇÃO MURAL
        INICIO DE ESTILIZAÇÃO CHECKBOX

*/


/* Create a custom checkbox */
.custom-checkbox {
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    height: 20px;
    line-height: 20px;
    display: inline-block;
    background: #fff;
    border-radius: 3px;
    border: 1px solid #d1d1d1;
}

/* When the checkbox is checked, add a background color and a checkmark */
.custom-checkbox input[type="checkbox"]:checked ~ .checkmark {
    background-color: #2196f3;
}

/* Create the checkmark */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #d1d1d1;
    transform: scale(1);
    transition: 0.2s;
}

/* When the checkbox is checked, add a blue background color to the checkmark */
.custom-checkbox input[type="checkbox"]:checked ~ .checkmark {
    background-color: #2196f3;
    border-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when the checkbox is checked */
.custom-checkbox input[type="checkbox"]:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkmark:after {
    top: 9px;
    left: 9px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/*      

        FIM DE ESTILIZAÇÃO CHECKBOX
        INICIO DE ESTILIZAÇÃO TABELA

*/


.container-tabela {
    width: 100%;
    overflow-x: auto;    
    border-radius: 0.6rem;
}

.container-tabela table {
    width: 100%;
    border-collapse: collapse;
}

.container-tabela .thead td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #fff;
    background-color: #737373;
}


.container-tabela .tbody td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.container-tabela td {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

/*      

        FIM DE ESTILIZAÇÃO TABELA
        
*/