.container-table {
    margin: 5%;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 2rem;   
}

.container-base > .container-mural,
.container-base > .container-table {
    margin: 10px;
}

#boxes {
    width: 30%;
    height: 30%;
    border-radius: 0.6rem;
    margin: 0.6rem;
}


#boxes h4 {
    font-size: 1.5rem;
    text-decoration: underline;
    text-align: center;
    font-weight: bold;
    background-color: transparent;
}

#boxes p {
    background-color: transparent;
}

.box1 {
    background: white;
    padding: 1rem;
}

.box1 img {
    background-color: white;
    width: 80%;
    height: 80%;
    opacity: 0.3;
}



.box2 {
    background: #256AC6;
    padding: 2rem;
}

.box3 {
    background: #FFA317;
    padding: 2rem;
}

.box4 {
    background: #00BF63;
    padding: 2rem;
}

.box5 {
    background: #737373;
    padding: 2rem;
}

.box6 {
    background: #FF3131;
    padding: 2rem;
}